<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Sports Club</title>
<meta name="viewport" content="width=device-width,initial-scale=1"> 

  <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/style.css')}}"> 
 <!-- <link rel="stylesheet" type="text/css" href="models/static/styles/style.css"> -->
 <!-- <link rel="stylesheet" type="text/css" href="static/styles/style.css">  -->

<script src=""></script>
<body>

<div class="container">
    <div class="container-close">&times;</div>
    <img src="static/images/sportsimage.png" alt="image">
    <div class="container-text">
      <h2>Welcome to our <br>Sports Club </h2>
      <p>Click below to see the <br> Player Statistics </p>
      
      <button type="submit"><a href="/player_points">Player Stat</a></button>

    </div>
  </div>
</body>
</html>

