<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Player stat</title>
<body>
    <form action="/form_player_points" method="POST">
        <p>Enter Player Name</p>
        <table>
            <tr>
                <td>
                    Player Name
                </td>
                <td>
                    <input type="text" name="player_name">
                </td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        
    </form>
<br>
<a href="/">Back to Home Page</a>
</body>
</html>