<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<!-- <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet"/> -->
<link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/style-player-stats.css')}}">
<!-- <link rel="stylesheet" type="text/css" href="static/styles/style-player-stats.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="style-player-stats.css"> -->
<title>Player stat</title>
<body>
          
        
<div class="player-form">
      <form action="/form_player_stats" method="POST">

        <label>Active Players</label>
       
        <ol class="player-list">
        <li>Stephen Curry<span class="delete"></span><span class="check"></span></li>
        <li>Lebron James<span class="delete"></span><span class="check"></span></li>
        <li>Anthony Davis<span class="delete"></span><span class="check"></span></li>
        <li>Klay Thompson<span class="delete"></span><span class="check"></span></li>
      </ol>
  </form>

      <form action="/form_player_stats" method="POST">
            <label>1. How many points has the player scored in total? Enter Player Name</label>
            <input name="player_name" placeholder="Player Name" required="" type="text"/><button type="submit">Submit</button>
  </form>

  <form action="/form_player_stats" method="POST">

        <label>2. List all active players playing for GSW</label>
        <button type="submit">Submit</button>  
    <br>
  </form>

  <form action="/form_player_stats" method="POST">
        <label>3. List the names of players who have scored more than <br> <input name="points" placeholder="points" required="" type="text"/> for their career? </label><br> 
        <button type="submit">Submit</button>
    <br>
    
  </form>

  <form action="/form_player_stats" method="POST">
        <label>4. Which player has the most blocks in his career ?</label>
        <button type="submit">Submit</button>
    <br>
  


  </form>

  <form action="/form_player_stats" method="POST">
        <label>5. List the names and IDS of players averaging shooting more than <input name="percent" placeholder="percent" required="" type="text"/> from the field in this season in descending order?</label>
        <button type="submit">Submit</button>
    <br>
    
    <a href="/">Back to Home Page</a>


  </form>


</div>

</body>
</html>